<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>This app captures system audio to save as memos.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Required to capture the system audio stream from your displays.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/aramb-dev/SystemVoiceMemos/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>fIQpxkBHPL0KJxy+PQkIHmndQ+Li9jBc/wOVvm8erzo=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
